@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Lato, sans-serif;
  }
  *:focus-visible {
    @apply px-2 outline-none border-2 outline border-secondary rounded-sm;
  }

  section {
    @apply relative w-full py-12 flex flex-col items-center justify-between;
  }

  /*Navigation tabs*/
  .tabs__scrollbar--hide::-webkit-scrollbar {
    display: none;
  }
  .tabs__scrollbar--hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /*****************/

  /*game informations*/
  .points_counter {
    @apply text-sm py-1 px-2 text-secondary font-bold uppercase border-2 border-secondary rounded-lg;
  }
  .result_icon {
    @apply absolute top-1/2 -translate-y-1/2 w-7 h-7 p-1 z-[1]  rounded-circle;
  }
  .result_icon--success {
    @apply bg-secondary;
  }
  .result_icon--failure {
    @apply bg-red-600;
  }
  /*****************/

  /*team card*/
  .team__card {
    @apply w-full max-h-16 py-8 px-3 flex items-center justify-center  rounded-md bg-black overflow-hidden grayscale-75 hover:grayscale-30 sm:max-h-[72px] lg:max-h-20;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

  .team_card_animation--width {
    transition: width 1s ease-out;
  }
  .team_card_title--opacity {
    transition: opacity 0.5s ease-out;
  }

  /*form & inputs*/

  .input_label_container {
    @apply relative w-full max-w-[290px] h-11 rounded-lg  sm:max-w-none;
  }
  .input_label_container input {
    @apply w-full h-full pl-3 rounded-lg border-2 border-neutral-700 bg-transparent transition-all duration-200 ease-linear focus:placeholder:opacity-100 focus:border-neutral-400 outline-none;
  }
  .password_input {
    @apply pr-10;
  }
  .input_label {
    @apply pointer-events-none absolute top-1/2 left-3 -translate-y-1/2 bg-neutral-800 transition-all duration-200 ease-out motion-reduce:transition-none;
  }
}
