@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Lato, sans-serif;
  }
  *:focus-visible {
    @apply px-2 outline-none border-2 outline border-lfl rounded-sm;
  }

  section {
    @apply relative w-full py-12 flex flex-col items-center justify-between;
  }

  /*Navigation tabs*/
  .tabs__scrollbar--hide::-webkit-scrollbar {
    display: none;
  }
  .tabs__scrollbar--hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /*****************/

  /*game informations*/
  .points_counter {
    @apply text-sm py-1 px-2 text-lfl font-bold uppercase border-2 border-lfl rounded-lg;
  }
  .result_icon {
    @apply absolute top-1/2 -translate-y-1/2 w-7 h-7 p-1 z-[1]  rounded-circle;
  }
  .result_icon--success {
    @apply bg-lfl;
  }
  .result_icon--failure {
    @apply bg-red-600;
  }
  /*****************/
}

@layer components {
  /*form & inputs*/

  .input_label_container {
    @apply relative w-full max-w-[290px] h-11 rounded-lg  sm:max-w-none;
  }
  .input_label_container input {
    @apply w-full h-full pl-3 rounded-lg border-2 border-neutral-700 bg-transparent transition-all duration-200 ease-linear focus:placeholder:opacity-100 focus:border-neutral-400 outline-none;
  }
  .password_input {
    @apply pr-10;
  }
  .input_label {
    @apply pointer-events-none absolute top-1/2 left-3 -translate-y-1/2 bg-neutral-800 transition-all duration-200 ease-out motion-reduce:transition-none;
  }
  .result::after {
    @apply absolute -top-7 right-0 text-sm font-bold md:text-base;
  }
}
